body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;  
    height: auto;  
}

.gridDiv {
    box-sizing: border-box;  
   
}